@tailwind base;
@tailwind components;
@tailwind utilities;

.category-link {
  @apply flex flex-col items-center text-gray-800 transition duration-300;
}

.category-link:hover {
  @apply text-[#d4a373];
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #5C4033;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
